<a href="https://colab.research.google.com/github/earandir/DataAnalysis/blob/main/Modulo03/Sesion07/M03S07R04apply.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 4: Apply

### 1. Objetivos:
    - Practicar el uso del método `apply` para obtener columnas nuevas a partir de columnas existentes
    
### 2. Desarrollo:

In [16]:
import pandas as pd
import numpy as np

In [17]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

---
---

#### a) Obteniendo columnas nuevas a partir de existentes

Vamos a trabajar con el dataset que guardaste de tu Reto anterior. Esta vez tu Reto es el siguiente:

1. Crea una función que reciba un valor (en este caso el diámetro en metros de un objeto espacial) y regrese la proporción de ese valor en comparación con el diámetro de la Tierra. El diámetro de la Tierra es de 12,742 km. Así que el diámetro de un objeto que mida 10000 metros corresponde a un valor de 0.00078 en proporción al diámetro de la Tierra.

In [19]:
df_reto_4 = pd.read_csv('/content/drive/MyDrive/DataAnalysis/objetos_cercanos_3.csv', index_col=0)
df_reto_4.head(3)

                      id_name  ...  relative_velocity.kilometers_per_minute
0  2154652-154652 (2004 EP20)  ...                               968.571811
1           3153509-(2003 HM)  ...                               741.062629
3          3837644-(2019 AY3)  ...                              1348.716917

[3 rows x 13 columns]

In [20]:
def proporcion_vs_tierra(valor):
    """ Regresa la proporción de valor con respecto a la Tierra """   
    return (valor / 12742000.0)

In [21]:
proporcion_vs_tierra(1000)

7.848061528802385e-05

2. Usa la columna 'estimated_diameter.meters.estimated_diameter_max', aplícale la función usando `apply` y crea una nueva columna llamada `proportion_of_max_diameter_to_earth` que deberá de ser de tipo `float64` y deberá contener valores entre 0 y 1 ya que es una proporción.

In [22]:
df_reto_4["proportion_of_max_diameter_to_earth"] = df_reto_4['estimated_diameter.meters.estimated_diameter_max'].apply(proporcion_vs_tierra)
df_reto_4["proportion_of_max_diameter_to_earth"]

0      0.000085
1      0.000017
3      0.000008
4      0.000004
5      0.000028
         ...
327    0.000085
328    0.000077
329    0.000077
330    0.000028
331    0.000074
Name: proportion_of_max_diameter_to_earth, Length: 301, dtype: float64

3. Asigna el resultado a la variable `df_reto_4`.

4. Guarda tu conjunto de datos en un archivo .csv.

In [24]:
# guarda en el archivo objetos_cercanos_4.csv
path = '/content/drive/MyDrive/DataAnalysis/objetos_cercanos_4.csv'
df_reto_4.to_csv(path)

La celda de validación nuevamente te ayudará a darte pautas para saber si tus resultados van por buen camino!

In [23]:
def revisar_aplicacion(df):
    
    assert 'proportion_of_max_diameter_to_earth' in df, 'No existe una columna llamada "proportion_of_max_diameter_to_earth" en el DataFrame'
    assert df['proportion_of_max_diameter_to_earth'].equals(df['estimated_diameter.meters.estimated_diameter_max'] / 12742000), 'La transformacion no fue realizada adecuadamente'
    
    print(f'La transformación y creación de una nueva columna fue realizada exitosamente!')

revisar_aplicacion(df_reto_4)

La transformación y creación de una nueva columna fue realizada exitosamente!