<a href="https://colab.research.google.com/github/earandir/DataAnalysis/blob/main/Modulo03/Sesion07/M03S07R06sort.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 6: Sort

### 1. Objetivos:
    - Practicar el uso de `sort_values` para obtener datos específicos
    
### 2. Desarrollo:

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

data = '/content/drive/MyDrive/DataAnalysis/objetos_cercanos_4.csv'

Mounted at /content/drive

---
---

#### a) Reordenamiento para hallazgo de valores

Vamos a trabajar sobre el dataset que guardaste en la sesión anterior. Tu Reto consiste en lo siguiente:

1. Usa `sort_values` y `loc` para obtener el valor de la velocidad en kilómetros por segundo más lenta de todos los objetos que tenemos en el dataset y asígnalo a `velocidad_en_kilometros_por_segundo_de_objeto_mas_lento`.
2. Usa `sort_values` y `loc` para obtener el valor del diámetro más grande medido que existe en nuestro dataset y asígnalo a `medida_de_diametro_mas_grande`

In [3]:
df_reto_6 = pd.read_csv(data, index_col=0)
df_reto_6.head(3)

                      id_name  ...  proportion_of_max_diameter_to_earth
0  2154652-154652 (2004 EP20)  ...                             0.000085
1           3153509-(2003 HM)  ...                             0.000017
3          3837644-(2019 AY3)  ...                             0.000008

[3 rows x 14 columns]

In [4]:
df_reto_6.sort_values('relative_velocity.kilometers_per_second', ascending=True).head(3)

                 id_name  ...  proportion_of_max_diameter_to_earth
313  3781977-(2017 SV19)  ...                             0.000005
262   3447920-(2009 DF1)  ...                             0.000035
248   3648878-(2013 TG6)  ...                             0.000002

[3 rows x 14 columns]

In [5]:
df_reto_6.loc[df_reto_6['relative_velocity.kilometers_per_second'] == df_reto_6['relative_velocity.kilometers_per_second'].min()]

                 id_name  ...  proportion_of_max_diameter_to_earth
313  3781977-(2017 SV19)  ...                             0.000005

[1 rows x 14 columns]

In [6]:
velocidad_en_kilometros_por_segundo_de_objeto_mas_lento = df_reto_6['relative_velocity.kilometers_per_second'].min()

---

In [7]:
df_reto_6.sort_values('estimated_diameter.meters.estimated_diameter_max', ascending=False).head(3)

                        id_name  ...  proportion_of_max_diameter_to_earth
138  2005751-5751 Zao (1992 AC)  ...                             0.000511
274  2192642-192642 (1999 RD32)  ...                             0.000256
163  2418265-418265 (2008 EA32)  ...                             0.000245

[3 rows x 14 columns]

In [8]:
df_reto_6.loc[df_reto_6['estimated_diameter.meters.estimated_diameter_max'] == df_reto_6['estimated_diameter.meters.estimated_diameter_max'].max()]

                        id_name  ...  proportion_of_max_diameter_to_earth
138  2005751-5751 Zao (1992 AC)  ...                             0.000511

[1 rows x 14 columns]

In [9]:
medida_de_diametro_mas_grande = df_reto_6['estimated_diameter.meters.estimated_diameter_max'].max()

En este caso la celda de valición si comprueba si tus resultados son correctos, adelante ...

In [10]:
def corroborar_hallazgos(velocidad_en_kilometros_por_segundo_de_objeto_mas_lento, medida_de_diametro_mas_grande):
   
  assert velocidad_en_kilometros_por_segundo_de_objeto_mas_lento == 0.681436673, 'Esa no es la velocidad en kilómetros por segundo del objeto más lento'
  assert medida_de_diametro_mas_grande == 6516.883821679, 'Ese no es el diámetro más grande medido en nuestro dataset'
  
  print('Tus hallazgos son correctos. ¡Bien hecho!')
  
corroborar_hallazgos(velocidad_en_kilometros_por_segundo_de_objeto_mas_lento, medida_de_diametro_mas_grande)

Tus hallazgos son correctos. ¡Bien hecho!