<a href="https://colab.research.google.com/github/earandir/DataAnalysis/blob/main/Modulo03/Sesion07/M03S07R03map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 3: Map

### 1. Objetivos:
    - Practicar el uso del método `map` para mapear un dato a otro dato que le corresponde.
    
---
    
### 2. Desarrollo:

In [2]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

data = '/content/drive/MyDrive/DataAnalysis/objetos_cercanos_2.csv'

Mounted at /content/drive

---
---

In [4]:
df_reto_3 = pd.read_csv(data, index_col=0)
df_reto_3.head(3)

                      id_name  ...                name
0  2154652-154652 (2004 EP20)  ...  154652 (2004 EP20)
1           3153509-(2003 HM)  ...           (2003 HM)
3          3837644-(2019 AY3)  ...          (2019 AY3)

[3 rows x 12 columns]

In [5]:
# analiza
df_reto_3.dtypes

id_name                                              object
is_potentially_hazardous_asteroid                      bool
estimated_diameter.meters.estimated_diameter_min    float64
estimated_diameter.meters.estimated_diameter_max    float64
close_approach_date                                  object
epoch_date_close_approach                            object
orbiting_body                                        object
relative_velocity.kilometers_per_second             float64
relative_velocity.kilometers_per_hour               float64
orbit_class_description                              object
id                                                    int64
name                                                 object
dtype: object

#### a) Booleanos a numéricos

Vamos a trabajar sobre el dataset que guardaste en el Reto anterior. Esta vez tu Reto es muy sencillo:

1. La columna `is_potentially_hazardous_asteroid` tiene valores `booleanos`. Crea un diccionario de mapeo donde hagas un correspondencia de cada valor `booleano` con su equivalente numérico y transforma esa columna.

In [9]:
dict_tf = {True: 1, False: 0}

In [13]:
# mapea
df_reto_3["is_potentially_hazardous_asteroid"] = df_reto_3['is_potentially_hazardous_asteroid'].map(dict_tf)
df_reto_3["is_potentially_hazardous_asteroid"]

0      0
1      1
3      0
4      0
5      0
      ..
327    0
328    0
329    0
330    0
331    0
Name: is_potentially_hazardous_asteroid, Length: 301, dtype: int64

2. Usa una función para mapear la columna `relative_velocity.kilometers_per_hour` a una nueva columna llamada `relative_velocity.kilometers_per_minute`, que contenga la velocidad del objeto en kilómetros por minuto.

In [18]:
# analiza
df_reto_3['relative_velocity.kilometers_per_hour'].apply(lambda x: x / 60)

0       968.571811
1       741.062629
3      1348.716917
4       299.921473
5       447.905361
          ...
327     928.485664
328     970.823503
329     906.368411
330    1220.590392
331    1783.945551
Name: relative_velocity.kilometers_per_hour, Length: 301, dtype: float64

In [20]:
# transforma usando función
def kmh_to_kmm(value):
  return value / 60.0

df_reto_3["relative_velocity.kilometers_per_minute"] = df_reto_3['relative_velocity.kilometers_per_hour'].map(kmh_to_kmm)

df_reto_3["relative_velocity.kilometers_per_minute"]

0       968.571811
1       741.062629
3      1348.716917
4       299.921473
5       447.905361
          ...
327     928.485664
328     970.823503
329     906.368411
330    1220.590392
331    1783.945551
Name: relative_velocity.kilometers_per_minute, Length: 301, dtype: float64

3. Guarda tu `DataFrame` resultante en la variable `df_reto_3`.

4. Guarda tu resultado en un archivo .csv.

In [21]:
# guarda resultado al archivo objetos_cercanos_3.csv
path = '/content/drive/MyDrive/DataAnalysis/objetos_cercanos_3.csv'
df_reto_3.to_csv(path)

A continuación la celda de validación que en este caso sólo te ayuda a corroborar si estás realizando bien parte del proceso, compara tus resultados con tu Ingenier@ de Datos de confianza y si coinciden envía tus resultados

In [22]:
def revisar_resultados(df):
    
    import pandas as np
    import pandas.api.types as pdtypes
    
    assert pdtypes.is_int64_dtype(df['is_potentially_hazardous_asteroid']), 'La columna "is_potentially_hazardous_asteroid" no ha sido transformada a tipo numerico'
    assert len(df['is_potentially_hazardous_asteroid'].unique()) == 2, 'Hubo un error con la correspondencia de valores booleanos a numéricos. Hay más de dos valores posibles en la columna resultante'
    assert df['relative_velocity.kilometers_per_minute'].equals(df['relative_velocity.kilometers_per_hour'] / 60), 'La conversión de kilometros por hora a kilómetros por minuto no fue realizada correctamente'
    
    print(f'Todos los procesos fueron realizados exitosamente!')

revisar_resultados(df_reto_3)

Todos los procesos fueron realizados exitosamente!