<a href="https://colab.research.google.com/github/earandir/DataAnalysis/blob/main/Modulo03%5CSesion08%5CM03S08R06_lo_que_los_cientificos_aman.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 6: Lo que los científicos aman

### 1. Objetivos:
    - Practicar las siguientes herramientas:
        - Lectura de .csv
        - `merge`
        - Filtros con value_counts()
        - Agrupaciones y reordenamientos
    
---
    
### 2. Desarrollo:

#### a) Lo que los científicos aman

En este Reto vamos a obtener una lista de las películas que fueron mejor evaluadas por científicos para saber cuáles son sus favoritas. Vamos a realizar los siguientes pasos:

1. Lee los archivos para `movies`, `ratings` y `users`.

In [45]:
import pandas as pd

In [46]:
ratings = pd.read_csv('ratings.csv', index_col=0)
ratings.reset_index(inplace=True)

/usr/local/lib/python3.7/dist-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [47]:
users = pd.read_csv('users.csv', index_col=0)
users.reset_index(inplace=True)

In [48]:
movies = pd.read_csv('movies.csv', index_col=0)
movies.reset_index(inplace=True)

In [49]:
occupations = pd.read_csv('occupations.csv', index_col=0)
occupations.reset_index(inplace=True)

2. Agrega **solamente** la columna `occupation` al `DataFrame` `ratings`, para tener la información de las ocupaciones de los usuarios que realizaron los ratings.

In [50]:
ratings = pd.merge(ratings, users, left_on='user_id', right_index=True)

In [51]:
ratings = pd.merge(ratings, occupations, left_on='occupation', right_index=True)

In [52]:
ratings = ratings[['user_id', 'movie_id', 'rating', 'description']]

In [53]:
ratings.rename(columns={'description' :'occupation'},inplace=True)

3. Filtra tu tabla `ratings` para quedarte solamente con los ratings hechos por científicos.

In [54]:
ratings = ratings.loc[ratings['occupation'].isin(['scientist'])]

4. Agrega **solamente** la columna `title` de la tabla `movies` a la tabla `ratings` para tener la información de los nombres de las películas que fueron evaluadas por científicos.

In [55]:
ratings = pd.merge(ratings, movies, left_on='movie_id', right_index=True)

In [56]:
ratings = ratings[['user_id', 'movie_id', 'rating', 'occupation', 'title']]

In [57]:
ratings

         user_id  movie_id  ...  occupation                                title
53             2      1357  ...   scientist                    Young Guns (1988)
1000262        2      1357  ...   scientist                    Young Guns (1988)
2000471        2      1357  ...   scientist                    Young Guns (1988)
26976        192      1357  ...   scientist                    Young Guns (1988)
1027185      192      1357  ...   scientist                    Young Guns (1988)
...          ...       ...  ...         ...                                  ...
1998779     6035       870  ...   scientist                     First Kid (1996)
2998988     6035       870  ...   scientist                     First Kid (1996)
998608      6035      1006  ...   scientist  20,000 Leagues Under the Sea (1954)
1998817     6035      1006  ...   scientist  20,000 Leagues Under the Sea (1954)
2999026     6035      1006  ...   scientist  20,000 Leagues Under the Sea (1954)

[75513 rows x 5 columns]

5. Filtra tu `DataFrame` para quedarte **solamente** con las películas que fueron evaluadas más de 50 veces.

6. Realiza una agrupación por película y computa el promedio de los ratings de cada película.

7. Ordena la `Serie` resultante descendentemente y asígnala  a la variable `mean_of_scientists_ratings_sorted`.

> **Nota**: el paso #5 es un poco complejo. No te desesperes si no encuentras una solución rápidamente. ¡Pídele a la experta que te guíe para que puedas resolverlo sin que te explote la cabeza!

In [ ]:
...

mean_of_scientists_ratings_sorted =

La celda de validación a continuación, considera que este reto es la culimnación de todo el módulo, así que presume tus resultados y hasta la vista!

In [ ]:
def visualizar_lista(mean_of_scientists_ratings_sorted):
    import matplotlib.pyplot as plt
    import seaborn as sns

    fig, ax = plt.subplots(figsize=(10, 10))
    ax.set_title('Ratings promedio de las películas más evaluadas por científicos')
    sns.barplot(mean_of_scientists_ratings_sorted, mean_of_scientists_ratings_sorted.index, ax=ax)
    ax.set(ylabel='Título', xlabel='Rating Promedio')
    
visualizar_lista(mean_of_scientists_ratings_sorted)