<a href="https://colab.research.google.com/github/earandir/DataAnalysis/blob/main/Modulo03/Sesion08/M03S08R05_ratings_de_mas_valoradas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 5: Distribución de ratings de las películas más valoradas

### 1. Objetivos:
    - Practicar las siguientes herramientas:
        - Lectura de .csv
        - `merge`
        - Creación de filtros usando `apply`
    
---
    
### 2. Desarrollo:

#### a) Creando un box plot de distribución de ratings

Vamos a ver cómo están distribuidos los ratings de las películas más valoradas de nuestro dataset. La siguiente es una lista de las películas que tienen más de 2500 valoraciones en nuestro dataset:

`[2858, 260, 1196, 1210, 480, 2028, 589, 2571, 1270, 593, 1580, 1198, 608]`

Realiza los siguientes pasos:

1. Lee tus archivos `ratings` y `movies`.
2. Obtén una lista con los ids de las películas con más de 2500 valoraciones.Debe ser igual a la lista de arriba.
3. Crea una función que tome una lista de ids y un id y regrese `True` si el id se encuentra en la lista (puedes usar el operador `in` de Python).
4. Usa `apply` para aplicar esa función a la columna `ratings['movie_id']` y obtener un filtro.
5. Usa tu filtro para filtrar el `DataFrame` `ratings` y quedarte solamente con las entradas de las películas que fueron valoradas más de 2500 veces.
6. Usando `merge` agrega los nombres de las películas a tu `DataFrame` `ratings`. Asigna el resultado a la variable `ratings_filtrados_con_nombre`.

> **Nota** el paso #4 es algo complejo. Si tienes dificultades para realizarlo, ¡no dudes en pedirle ayuda a tu experta!

In [79]:
import pandas as pd

In [80]:
ratings = pd.read_csv('ratings.csv', index_col=0)
#ratings.set_index(list(ratings.columns), drop=True, inplace=True)
ratings.head(3)

/usr/local/lib/python3.7/dist-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

         movie_id  rating  timestamp
user_id
1            1193       5  978300760
1             661       3  978302109
1             914       3  978301968

In [30]:
movies = pd.read_csv('movies.csv', index_col=0)
#movies.set_index(list(movies.columns), drop=False, inplace=True)
movies.reset_index(inplace=True)

In [81]:
ratings = ratings.groupby('movie_id').count()
ratings.reset_index(inplace=True)

In [7]:
#ratings.sort_values('rating', ascending=False, inplace=True)
#ratings.head(15)

In [90]:
all_movies = ratings.loc[ratings['rating'] > 2500]['movie_id']

In [84]:
ratings['movie_id']

0          1
1          2
2          3
3          4
4          5
        ...
3701    3948
3702    3949
3703    3950
3704    3951
3705    3952
Name: movie_id, Length: 3706, dtype: int64

In [52]:
ratings

     movie_id  user_id  rating  timestamp
0           1     6231    6231       6231
1           6     2820    2820       2820
2          10     2664    2664       2664
3          11     3099    3099       3099
4          17     2505    2505       2505
..        ...      ...     ...        ...
288      3753     3720    3720       3720
289      3755     3039    3039       3039
290      3793     4533    4533       4533
291      3897     2982    2982       2982
292      3948     2586    2586       2586

[293 rows x 4 columns]

In [64]:
ratings.reset_index(inplace=True)

In [39]:
def check_movie_id(a_movie_id):
  valid_movies = [2858, 260, 1196, 1210, 480, 2028, 589, 2571, 1270, 593, 1580, 1198, 608]
  if a_movie_id in valid_movies:
    return True
  else:
    return False

In [98]:
check_movies = all_movies.apply(check_movie_id)

In [53]:
ratings = ratings['movie_id']

In [97]:
ratings

      movie_id  rating  timestamp
0            1    6231       6231
1            2    2103       2103
2            3    1434       1434
3            4     510        510
4            5     888        888
...        ...     ...        ...
3701      3948    2586       2586
3702      3949     912        912
3703      3950     162        162
3704      3951     120        120
3705      3952    1164       1164

[3706 rows x 3 columns]

In [95]:
ratings.apply(check_movie_id)

ValueError: ignored

In [65]:
...

ratings_filtrados_con_nombre =

SyntaxError: ignored

A continuación la celda de validación, pero tu `DataFrame` resultante debe de tener una columna `title` y otra `rating` para que la visualización pueda funcionar:

In [ ]:
def visualizar_boxplots(ratings_filtrados_con_nombre):
    import seaborn as sns
    import matplotlib.pyplot as plt

    fig, ax = plt.subplots(figsize=(10, 10))
    ax.set_title('Distribución de Ratings de las películas con más de 2500 valoraciones')
    plot = sns.boxplot(ratings_filtrados_con_nombre['title'], ratings_filtrados_con_nombre['rating'], ax=ax)
    ax.set(xlabel=None, ylabel='Rating')
    plot.set_xticklabels(plot.get_xticklabels(), rotation=90)
    
visualizar_boxplots(ratings_filtrados_con_nombre)