<a href="https://colab.research.google.com/github/earandir/DataAnalysis/blob/main/Modulo04/Sesion01/M04S01R03desviacion_estandar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reto 3: Desviación estándar

## 1. Objetivos:
- Utilizar la desviación estándar para realizar un análisis de dispersión de nuestros datos
 
---
    
## 2. Desarrollo:

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd

### a) Desviación estándar y distribución de los datos

Como ya vimos, la desviación estándar es la medida que nos da la "desviación típica" (o esperada) de nuestros datos a comparación del promedio. Eso quiere decir que normalmente vamos a esperar que una gran parte de nuestros datos se encuentren a 1 desviación estándar de distancia del promedio. Entre más nos alejamos, menos muestras deberíamos de encontrar.

Vamos a comprobar esto usando nuestro dataset de meteoritos que orbitan cerca de la Tierra. Tu Reto consiste en los siguientes pasos:

1. Crea un DataFrame con el dataset `near_earth_objects-jan_feb_1995-clean.csv`.

In [5]:
df = pd.read_csv('/content/drive/MyDrive/DataAnalysis/Modulo04Datasets/near_earth_objects-jan_feb_1995-clean.csv')

2. Obtén la cantidad total de datos en tu DataFrame.

In [6]:
len(df.index)

333

3. Obtén la desviación estándar de la columna 'estimated_diameter.meters.estimated_diameter_max'. Los siguientes pasos realízalos todos utilizando esta columna.

In [7]:
std = df['estimated_diameter.meters.estimated_diameter_max'].std()

4. Obtén el porcentaje de muestras que están a una distancia de 1 desviación estándar del promedio.

> Nota: Para obtener los porcentajes de los subconjuntos primero necesitas filtrar el DataFrame original para que sólo permanezcan las muestras que cumplan con los requisitos.

In [8]:
df1 = df.loc[df['estimated_diameter.meters.estimated_diameter_max'] <= std]

In [13]:
df1

     Unnamed: 0  ...  relative_velocity.kilometers_per_hour
1             1  ...                           44463.757734
2             2  ...                           22393.567277
3             3  ...                           80923.015021
4             4  ...                           17995.288355
5             5  ...                           26874.321682
..          ...  ...                                    ...
324         324  ...                           19006.091680
325         325  ...                           19581.395990
326         326  ...                           88507.735850
330         330  ...                           73235.423517
332         332  ...                           25193.097928

[264 rows x 11 columns]

5. Obtén el porcentaje de muestras que están a una distancia de 2 desviaciones estándares del promedio (multiplicar * 2).

In [11]:
df2 = df.loc[(df['estimated_diameter.meters.estimated_diameter_max'] <= (std * 2)) & (df['estimated_diameter.meters.estimated_diameter_max'] > (std))]

6. Obtén el porcentaje de muestras que están a una distancia de 3 desviaciones estándares del promedio (multiplicar * 3).

In [12]:
df3 = df.loc[(df['estimated_diameter.meters.estimated_diameter_max'] <= (std * 3)) & (df['estimated_diameter.meters.estimated_diameter_max'] > (std * 2))]

7. Compara los porcentajes obtenidos y comenta con tus compañeros y la experta tus hallazgos. ¿Qué significa esto? ¿La definición de desviación estándar tiene sentido? ¿Qué puedo inferir acerca de la dispersión de mis datos a partir de los valores obtenidos?

> Nota: Este Reto está diseñado para tener una dificultad media. No te frustres si al principio parece demasiado difícil. Comienza poco a poco, resolviendo el problema en pedazos pequeños, y si no tienes la menor idea de cómo proceder recuerda que la experta está ahí para ayudarte.