# Módulo 03 - Sesión 05 - Retos

## Reto 01 Porcentaje del total

In [1]:
import numpy as np
import pandas as pd
import json 
import datetime

In [2]:
def obtener_calificaciones(aciertos, porcentajes):
    
    import numpy as np
    
    datos_1 = [73.52941176470588, 80.88235294117646, 66.17647058823529, 95.58823529411765, 97.05882352941177, 67.6470588235294, 70.58823529411765, 77.94117647058823, 80.88235294117646, 82.3529411764706, 86.76470588235294, 100.0, 98.52941176470588, 88.23529411764706, 66.17647058823529, 82.3529411764706, 97.05882352941177, 94.11764705882354, 86.76470588235294, 80.88235294117646, 50.0, 66.17647058823529, 72.05882352941177, 70.58823529411765, 80.88235294117646]
        
    titulo = "== Calificaciones finales =="
    linea = lambda: print("-" * 41)
    vf = lambda valor, i: f"{valor: 22.2f}%" if valor == datos_1[i] else f"Error: {valor:22.2f}% | Valor esperado: {datos_1[i]:22.2f}%"
    f = lambda valor, i: f"{valor:22}" if type(valor) == str else vf(valor, i-1)
    fila = lambda idalum, porcentaje: print(f'{idalum:15} | {f(porcentaje, idalum)}')

    print(f"{titulo:^41}")
    linea()
    fila("Id de alumno", "Procentaje de aciertos")
    linea()
    for i, p in enumerate(porcentajes, 1):
        fila(i, p)
    linea()

In [3]:
aciertos = pd.Series([50, 55, 45, 65, 66, 46, 48, 53, 55, 56, 59, 68, 67, 60, 45, 56, 66, 64,
    59, 55, 34, 45, 49, 48, 55])

porcentajes = (aciertos * 100.0) / 68

porcentajes

0      73.529412
1      80.882353
2      66.176471
3      95.588235
4      97.058824
5      67.647059
6      70.588235
7      77.941176
8      80.882353
9      82.352941
10     86.764706
11    100.000000
12     98.529412
13     88.235294
14     66.176471
15     82.352941
16     97.058824
17     94.117647
18     86.764706
19     80.882353
20     50.000000
21     66.176471
22     72.058824
23     70.588235
24     80.882353
dtype: float64

In [4]:
obtener_calificaciones(aciertos, porcentajes)

      == Calificaciones finales ==
-----------------------------------------
Id de alumno    | Procentaje de aciertos
-----------------------------------------
              1 |                  73.53%
              2 |                  80.88%
              3 |                  66.18%
              4 |                  95.59%
              5 |                  97.06%
              6 |                  67.65%
              7 |                  70.59%
              8 |                  77.94%
              9 |                  80.88%
             10 |                  82.35%
             11 |                  86.76%
             12 |                 100.00%
             13 |                  98.53%
             14 |                  88.24%
             15 |                  66.18%
             16 |                  82.35%
             17 |                  97.06%
             18 |                  94.12%
             19 |                  86.76%
             20 |                  80.88%
             21 |                  50.00%
             22 |                  66.18%
             23 |                  72.06%
             24 |                  70.59%
             25 |                  80.88%
-----------------------------------------

---
##Reto 02 Desviación estandar

In [5]:
def comparar_std(edades, std):
    print(f'== Comparación Desviaciones Estándares ==\n')
    print(f'Esperada: {round(edades.std(), ndigits=14)}\nRecibida: {round(std, ndigits=14)}')
    print(f'Cálculo {"Correcto... Felicidades!" if round(edades.std(), ndigits=14) == round(std, ndigits=14) else "Incorrecto... Intenta de nuevo"}')

In [6]:
edades = pd.Series([23, 24, 23, 34, 30, 17, 18, 24, 35, 28, 27,
    27, 34, 32, 29, 16, 16, 17, 19, 34, 45, 46, 43, 45, 43, 32,
    25, 29, 28, 38, 30, 37, 38, 24, 26, 25, 24, 19, 19, 18, 17,
    18, 21, 20, 23, 24, 25, 25, 26, 24, 23, 32, 24, 25, 24, 36,
    35, 36, 38, 39, 45, 46, 43, 48, 42, 41, 41, 26, 19, 19, 19,
    20, 39, 38, 43, 28, 27, 39, 43, 52, 50, 38, 15, 17, 23, 25,
    19, 32, 34, 35, 19, 19, 20, 26, 25, 43, 45, 46, 34, 33, 30,
    30, 34, 45, 50, 50, 47, 25, 34, 37, 38, 19, 19, 20, 25, 28,
    34, 32, 36, 39, 39, 28, 34, 33, 22, 25, 17, 17, 22, 24, 25,
    45, 46, 43, 34, 35, 32, 23])

promedio = edades.sum() / edades.count()
diferencia = edades - promedio
cuadrado = np.power(diferencia, 2)
suma = cuadrado.sum()
division = suma / (edades.count() - 1)
raiz = np.sqrt(division)

comparar_std(edades, raiz)

== Comparación Desviaciones Estándares ==

Esperada: 9.55678104254041
Recibida: 9.55678104254041
Cálculo Correcto... Felicidades!

---
##Reto 03 Análisis estadístico con agregaciones

In [7]:
datos = {
    'producto': ["Pokemaster", "Cegatron", "Pikame Mucho", "Lazarillo de Tormes", "Stevie Wonder", "Needle", "El AyMeDuele", "El Desretinador", "Sacamel Ojocles", "Desojado", "Maribel Buenas Noches", "Cíclope", "El Cuatro Ojos"],
    'precio': [12000, 5500, 2350, 4800, 8900, 6640, 1280, 1040, 23100, 16700, 15000, 13400, 19600],
    'cantidad_en_stock': [34, 54, 36, 78, 56, 12, 34, 4, 0, 18, 45, 23, 5],
    'cantidad_vendidos': [120, 34, 59, 9, 15, 51, 103, 72, 39, 23, 10, 62, 59]
}

df = pd.DataFrame(datos)

df

                 producto  precio  cantidad_en_stock  cantidad_vendidos
0              Pokemaster   12000                 34                120
1                Cegatron    5500                 54                 34
2            Pikame Mucho    2350                 36                 59
3     Lazarillo de Tormes    4800                 78                  9
4           Stevie Wonder    8900                 56                 15
5                  Needle    6640                 12                 51
6            El AyMeDuele    1280                 34                103
7         El Desretinador    1040                  4                 72
8         Sacamel Ojocles   23100                  0                 39
9                Desojado   16700                 18                 23
10  Maribel Buenas Noches   15000                 45                 10
11                Cíclope   13400                 23                 62
12         El Cuatro Ojos   19600                  5                 59

In [8]:
# Eliminando columna
df_dropped = df.drop(columns=['producto'])

df_dropped

    precio  cantidad_en_stock  cantidad_vendidos
0    12000                 34                120
1     5500                 54                 34
2     2350                 36                 59
3     4800                 78                  9
4     8900                 56                 15
5     6640                 12                 51
6     1280                 34                103
7     1040                  4                 72
8    23100                  0                 39
9    16700                 18                 23
10   15000                 45                 10
11   13400                 23                 62
12   19600                  5                 59

In [9]:
# El valor mínimo de cada columna
mins = df_dropped.min()

mins

precio               1040
cantidad_en_stock       0
cantidad_vendidos       9
dtype: int64

In [10]:
# El valor máximo de cada columna
maxs = df_dropped.max()

maxs

precio               23100
cantidad_en_stock       78
cantidad_vendidos      120
dtype: int64

In [11]:
# El promedio por columna
media = df_dropped.mean()

media

precio               10023.846154
cantidad_en_stock       30.692308
cantidad_vendidos       50.461538
dtype: float64

In [12]:
# La mediana por columna (El valor que se encuentra a la mitad de la secuencia ordenada de valores)
mediana = df_dropped.median()

mediana

precio               8900.0
cantidad_en_stock      34.0
cantidad_vendidos      51.0
dtype: float64

In [13]:
# La desviación estándar por columna
stds = df_dropped.std()

stds

precio               7210.205196
cantidad_en_stock      23.382275
cantidad_vendidos      34.289492
dtype: float64

In [14]:
def resumen_estadistico(df, df_dropped, mins, maxs, means, medians, stds):
    
    import pandas as pd
    f = lambda x: "".join([chr(int(x[i:i+2], 16)) for i in range(0, len(x), 2)])
    datos_1 = ["64662E64726F7028636F6C756D6E733D5B2770726F647563746F275D29", "64665F64726F707065642E6D696E28617869733D3029", "64665F64726F707065642E6D617828617869733D3029", "64665F64726F707065642E6D65616E28617869733D3029", "64665F64726F707065642E6D656469616E28617869733D3029", "64665F64726F707065642E73746428617869733D3029"]
    error = False
    
    df_eva = eval(f(datos_1[0]))
    if not df_eva.equals(df_dropped):
        print(f'La columna no-numérica no fue eliminada correctamente... Por favor inténtalo de nuevo')
        error = True
        
    df_eva = eval(f(datos_1[1]))
    if not df_eva.equals(mins):
        print(f'El valor mínimo no fue computado adecuadamente... Por favor inténtalo de nuevo')
        error = True
        
    df_eva = eval(f(datos_1[2]))
    if not df_eva.equals(maxs):
        print(f'El valor máximo no fue computado adecuadamente... Por favor inténtalo de nuevo')
        error = True
        
    df_eva = eval(f(datos_1[3]))
    if not df_eva.equals(means):
        print(f'El promedio no fue computado adecuadamente... Por favor inténtalo de nuevo')
        error = True
    
    df_eva = eval(f(datos_1[4]))
    if not df_eva.equals(medians):
        print(f'La mediana no fue computada adecuadamente... Por favor inténtalo de nuevo')
        error = True
        
    df_eva = eval(f(datos_1[5]))
    if not df_eva.equals(stds):
        print(f'La desviación estándar no fue computada adecuadamente... Por favor inténtalo de nuevo')
        error = True
    
    if not error:
        rango = maxs - mins
        mins.name = 'Min'
        maxs.name = 'Max'
        rango.name = 'Rango'
        means.name = 'Promedio'
        medians.name = 'Mediana'
        stds.name = 'Std'
        
        resumen = pd.concat([mins, maxs, rango, means, medians, stds], axis=1)
        print(resumen)
        
resumen_estadistico(df, df_dropped, mins, maxs, media, mediana, stds)

                    Min    Max  Rango      Promedio  Mediana          Std
precio             1040  23100  22060  10023.846154   8900.0  7210.205196
cantidad_en_stock     0     78     78     30.692308     34.0    23.382275
cantidad_vendidos     9    120    111     50.461538     51.0    34.289492

---
##Reto 05 (04) - Limpiando un conjunto de datos de NaNs

In [15]:
pd.options.mode.chained_assignment = None

In [16]:
datos = {
    'precio': [12000, 5500, np.nan, 4800, 8900, np.nan, 1280, 1040, 23100, np.nan, 15000, 13400, np.nan],
    'cantidad_en_stock': [34, 54, np.nan, 78, 56, np.nan, 34, 4, 0, 18, 45, 23, 5],
    'cantidad_vendidos': [120, 34, np.nan, 9, 15, np.nan, 103, np.nan, np.nan, 23, 10, 62, 59],
    'descuentos': [np.nan] * 13
}

df = pd.DataFrame(datos, index=["Pokemaster", "Cegatron", "Pikame Mucho", "Lazarillo de Tormes", "Stevie Wonder", "Needle", "El AyMeDuele", "El Desretinador", "Sacamel Ojocles", "Desojado", "Maribel Buenas Noches", "Cíclope", "El Cuatro Ojos"])

In [17]:
df

                        precio  ...  descuentos
Pokemaster             12000.0  ...         NaN
Cegatron                5500.0  ...         NaN
Pikame Mucho               NaN  ...         NaN
Lazarillo de Tormes     4800.0  ...         NaN
Stevie Wonder           8900.0  ...         NaN
Needle                     NaN  ...         NaN
El AyMeDuele            1280.0  ...         NaN
El Desretinador         1040.0  ...         NaN
Sacamel Ojocles        23100.0  ...         NaN
Desojado                   NaN  ...         NaN
Maribel Buenas Noches  15000.0  ...         NaN
Cíclope                13400.0  ...         NaN
El Cuatro Ojos             NaN  ...         NaN

[13 rows x 4 columns]

In [18]:
df_copy = df.copy()

In [19]:
#Has un conteo de cuántos NaNs hay en cada fila y en cada columna
df_copy.isna().sum()

precio                4
cantidad_en_stock     2
cantidad_vendidos     4
descuentos           13
dtype: int64

In [20]:
#Elimina las filas y columnas donde todos los valores sean NaN.
df_copy = df_copy.dropna(axis=0, how='all')

In [21]:
#Dado que la columna cantidad_vendidos no es tan importante, cambia los NaNs que haya en esa columna por 0.
df_copy['cantidad_vendidos'] = df_copy['cantidad_vendidos'].fillna(0)

In [22]:
#Dado que la columna precio es muy importante, elimina las filas restantes que tengan algún NaN en dicha columna.
df_copy = df_copy.dropna(axis=1, how='all')

In [23]:
df_copy = df_copy.dropna(axis=0)

In [24]:
df_copy

                        precio  cantidad_en_stock  cantidad_vendidos
Pokemaster             12000.0               34.0              120.0
Cegatron                5500.0               54.0               34.0
Lazarillo de Tormes     4800.0               78.0                9.0
Stevie Wonder           8900.0               56.0               15.0
El AyMeDuele            1280.0               34.0              103.0
El Desretinador         1040.0                4.0                0.0
Sacamel Ojocles        23100.0                0.0                0.0
Maribel Buenas Noches  15000.0               45.0               10.0
Cíclope                13400.0               23.0               62.0

In [25]:
def revisar_limpieza(df, df_copy):
    datos_1 = [10, 100, 102, 95, 50, 32, 61, 32, 100, 102, 46, 99, 111, 112, 121, 40, 41, 10, 100, 102, 95, 50, 32, 61, 32, 100, 102, 95, 50, 46, 100, 114, 111, 112, 110, 97, 40, 97, 120, 105, 115, 61, 48, 44, 32, 104, 111, 119, 61, 39, 97, 108, 108, 39, 41, 10, 100, 102, 95, 50, 32, 61, 32, 100, 102, 95, 50, 46, 100, 114, 111, 112, 110, 97, 40, 97, 120, 105, 115, 61, 49, 44, 32, 104, 111, 119, 61, 39, 97, 108, 108, 39, 41, 10, 100, 102, 95, 50, 91, 39, 99, 97, 110, 116, 105, 100, 97, 100, 95, 118, 101, 110, 100, 105, 100, 111, 115, 39, 93, 32, 61, 32, 100, 102, 95, 50, 91, 39, 99, 97, 110, 116, 105, 100, 97, 100, 95, 118, 101, 110, 100, 105, 100, 111, 115, 39, 93, 46, 102, 105, 108, 108, 110, 97, 40, 48, 41, 10, 100, 102, 95, 50, 32, 61, 32, 100, 102, 95, 50, 46, 100, 114, 111, 112, 110, 97, 40, 97, 120, 105, 115, 61, 48, 41, 10]
    eval(compile("".join([chr(x) for x in datos_1]), "", "exec"), globals())
    if not df_2.equals(df_copy):
        print(f'La transformación no fue realizada adecuadamente... Por favor revisa tu procedimiento.\n')
        print(f'DataFrame esperado:\n')
        print(df_2)
        
        print(f'\nDataframe obtenido:\n')
        print(df_copy)
    else:
        print(f'La transformación fue realizada exitosamente... Muchas gracias!')

revisar_limpieza(df, df_copy)

La transformación fue realizada exitosamente... Muchas gracias!

---
##Reto 07 (05) -  Limpieza de datos en el mundo real

In [26]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [27]:
data = pd.read_csv('/content/drive/MyDrive/DataAnalysis/Datasets/new_york_times_bestsellers-raw.csv')

In [28]:
str(data)

'       Unnamed: 0  ... price.$numberDouble\n0               0  ...                 NaN\n1               1  ...               25.99\n2               2  ...               24.95\n3               3  ...               22.95\n4               4  ...               24.95\n...           ...  ...                 ...\n10190       10190  ...                 NaN\n10191       10191  ...                 NaN\n10192       10192  ...                 NaN\n10193       10193  ...                 NaN\n10194       10194  ...                 NaN\n\n[10195 rows x 14 columns]'

3. Identifica los `NaNs` en el dataset y dónde se encuentran

In [29]:
# 3 Identifica los NaNs en el dataset y dónde se encuentran
data.isna().sum()

Unnamed: 0                               0
amazon_product_url                       0
author                                   0
description                            246
publisher                                0
title                                    0
_id.$oid                                 0
bestsellers_date.$date.$numberLong       0
published_date.$date.$numberLong         0
price.$numberInt                      3033
rank.$numberInt                          0
rank_last_week.$numberInt                0
weeks_on_list.$numberInt                 0
price.$numberDouble                   7162
dtype: int64

4. Elimina los `NaNs` de tu dataset

In [30]:
# 4 Elimina los NaNs de tu dataset
data.dropna(axis=1, how='any', inplace=True)

5. Resetea tu índice para que sea compatible con el nuevo dataset

In [31]:
# 5 Resetea tu índice para que sea compatible con el nuevo dataset
data.reset_index(drop=True, inplace=True)

6. Cambia los nombres de las columnas para que tengan consistencia y no haya errores ortográficos

In [32]:
# 6 Cambia los nombres de las columnas para que tengan consistencia y no haya errores ortográficos
data.columns

Index(['Unnamed: 0', 'amazon_product_url', 'author', 'publisher', 'title',
       '_id.$oid', 'bestsellers_date.$date.$numberLong',
       'published_date.$date.$numberLong', 'rank.$numberInt',
       'rank_last_week.$numberInt', 'weeks_on_list.$numberInt'],
      dtype='object')

In [33]:
data.rename(columns={'_id.$oid': 'id', 'bestsellers_date.$date.$numberLong': 'bestsellers_date',
                     'published_date.$date.$numberLong': 'published_date',
                     'rank.$numberInt': 'rank', 'rank_last_week.$numberInt': 'rank_last_week',
                     'weeks_on_list.$numberInt': 'weeks_on_list'}, inplace=True)

7. Realiza agregaciones (min, man, mean, etc) de las siguientes columnas para conocer mejor la distribución de tus datos:

   - a) rank
   - b) rank_last_week
   - c) week_in_list

In [34]:
# 7 realiza agregaciones (min, max, mean, etc)
df = data[['title', 'rank', 'rank_last_week', 'weeks_on_list']]
df.describe()

               rank  rank_last_week  weeks_on_list
count  10195.000000    10195.000000   10195.000000
mean      10.216773        3.969397       6.936734
std        5.677046        4.494153      14.763727
min        1.000000        0.000000       0.000000
25%        5.000000        0.000000       1.000000
50%       10.000000        2.000000       2.000000
75%       15.000000        7.000000       6.000000
max       20.000000       16.000000     134.000000